
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #111111;
}

body {
  background-color: #111111;
  -webkit-overflow-scrolling: touch;
}

.palavra-destaque {
  color: #FF4713;
  font-weight: 700;
  font-style: italic;
}
